POSTGRES_HOST=crafty-db
POSTGRES_DB=sample_db
POSTGRES_USER=sample_user
POSTGRES_PASSWORD=sample_password

JWT_TOKEN_KEY=sample_token_key

CloudinarySettings__CloudName=sample_cloudinary_name
CloudinarySettings__ApiKey=sample_cloudinary_key
CloudinarySettings__ApiSecret=sample_cloudinary_secret