.vscode
.vs
Notes.txt

# ASP.NET
API/bin
API/obj
API/Crafty.postman_collection.json
API/appsettings.Development.json
API/Models
publish
.env

# Node
client/node_modules
client/npm-debug.log
client/yarn-error.log

# Production docker file
docker-compose-production.yml