<div class="row">
    <div class="text-center mt-3">
        <h2>{{paginatedCrafts.pagination.totalItems}} Crafts</h2>
    </div>

    @for (craft of paginatedCrafts.items; track craft.id) {
        <div class="col-2">
            <app-craft-card [craft]="craft"></app-craft-card>
        </div>
    }
    @if (paginatedCrafts.pagination) {
        <div class="d-flex justify-content-center">
            <pagination 
            [boundaryLinks]="true" 
            [totalItems]="paginatedCrafts.pagination.totalItems"
            [itemsPerPage]="paginatedCrafts.pagination.itemsPerPage"
            (pageChanged)="pageChanged($event)"
            [(ngModel)]="paginatedCrafts.pagination.currentPage"
            [maxSize]="paginationParams.pageSize"
            previousText="&lsaquo;" 
            nextText="&rsaquo;" 
            firstText="&laquo;" 
            lastText="&raquo;">
            
            </pagination> 
        </div> 
    }
</div> 