<div class="container mt-5">
    <div class="row justify-content-center text-center">
        <img id="logo" class="img-fluid" src="assets/Logo.png" alt="Logo">
        @if (!registerMode) {
            <h1>Find homemade crafts</h1>
            <p class="lead">For all your crafty needs, all you need to do is sign up!</p>
            <div>
                <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">Register</button>
            </div>
        } @else {
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-4">
                        <app-register 
                            (cancelRegister)="cancelRegisterMode($event)"
                            >
                        </app-register>
                    </div>
                </div>
            </div>
        }
    </div>    
</div>